dply() {
    local build='./build/'
    local dist_id='E1A4Q02T7W56HJ'
    rm -rf $build
    npm run build \
        && aws s3 sync --delete $build s3://bulb-site/ \
        && aws cloudfront create-invalidation --distribution-id $dist_id \
                                              --paths /index.html \
                                                      /asset-manifest.json \
                                                      /static/*
}; export_function dply
